
html {
  font-size: 18px;
  font-family: 'Hanken Grotesk', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  min-width: 375px;
  margin: auto;
}

.column {
  display: block;
  padding: 5% 10%;
}

/* #region column1 */

.column1 {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 20px;
  text-align: center;
  color: hsl(241, 100%, 89%);
}

.result {
  color: white;
  font-size: 7vw;
  font-weight: 800;
}

.circle {
  width: 15vw;
  min-width: 150px;
  height: 15vw;
  min-height: 150px;
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  align-items: center;
}

.res {
  padding: 20% 0;
}
/* #endregion */

/* #region column2 */

.summary {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  grid-template-areas: 
    'favicon text numbers';
  border-radius: 10px;
  margin: 20px auto;
  padding: 15px 0 15px 5px;
  font-weight: 700;
}

.favicon {
  grid-area: favicon;
  margin: 2px;
}

.text {
  grid-area: text;
}

.numbers {
  grid-area: numbers;
  margin-right: 10px;
  color: gray;
}

.reaction {
  background-color: hsla(0, 100%, 67%, 10%);
  color: hsl(0, 100%, 67%);
}

.memory {
  background-color: hsla(39, 100%, 56%, 10%);
  color: hsl(39, 100%, 56%);
}

.verbal {
  background-color: hsla(166, 100%, 37%, 10%);
  color: hsl(166, 100%, 37%);
}

.visual {
  background-color: hsla(234, 85%, 45%, 10%);
  color: hsl(234, 85%, 45%);
}

.continue {
  display: block;
  margin: auto;
  color: white;
  background-color: hsl(224, 30%, 27%);
  font-size: inherit;
  width: 100%;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 5%;
}

.continue:hover {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
/* #endregion */

@media screen and (max-width: 1000px){
  .summary {
    grid-template-columns: 1fr 5fr 4fr;
  }
}

@media screen and (max-width: 740px){
  .summary {
    grid-template-columns: 1fr 4fr 4fr;
  }
}

@media screen and (max-width: 675px){
  .container {
    grid-template-columns: 1fr;
  }

  .circle {
    width: 30vw;
    height: 30vw;
  }

  .result {
    font-size: 9vh;
  }
}


